<html>
<head>
	<title>Forgot Password | SHARPENERS</title>
</head>
		<form method="post" action="../controller/forgotpassCheck.php" enctype="">
			<fieldset>
				<legend>Reset your password</legend>
				<table>
					<tr>
						<td>Enter your email</td>
						<tr></tr>
						<td><input type="email" name="email" value="" ></td>
					</tr>
					<tr>
						<td>User Name</td>
						<tr></tr>
						<td><input type="text" name="username" value="" ></td>
					</tr>
					<tr>
						<td>Contact Number</td>
						<tr></tr>
						<td><input type="tel" name="contnum" value="" ></td>
					</tr>
					<tr>
						<td>Date Of Birth</td>
						<tr></tr>
						<td><input type="date" name="dob" value="" ></td>
					</tr>
					<tr>
						<td>New Password</td>
						<tr></tr>
						<td><input type="password" name="New_Password" value="" ></td>
					</tr>
					<tr>
						<td>Confirm New Password</td>
						<tr></tr>
						<td><input type="password" name="Confirm_New_Password" value="" ></td>
					</tr>
						<td>
						<br> </br>
							<input type="submit" name="" value="Reset Password">
							<a href="../view/LogIn.html"> Back </a>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>

</body>
</html>
<?php
	}
	else {
		header('location:LogIn.html');
	}
?>