* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(rgb(120 67 11 / 0.80),rgb(156 122 14 / 0.80));
    background-image: url("2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.start {
    width:1475px;
    height: 340px;
    color: rgb(219 243 238 / 0.75);
    background: linear-gradient(rgb(17 9 9 / 0.85),rgb(17 9 9 / 0.85));
    position: center;
    
    border-radius: 10px;
    padding: 50px 30px;
}

    .start h1 {
        font-family:'Times New Roman', Times, serif;
        width: 220px;
        text-align: center;
        padding-left: 350px;
        margin-bottom: 100px;
        font-size: 100px;
        color: wheat;
    }
a {
    text-decoration: none;
    color: aqua;
    position: center;
}
